/* reset css */
*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
}

/*Common*/
.clear{
    clear: both;/*xóa float*/
}
.text-white{
    color: white !important;/*override các css khác*/
}
.text-center{
    text-align: center !important;/*override các css khác*/
}
html{
    font-family: Arial, Helvetica, sans-serif; /* nhung the? co' chu~ se ke' thua`*/
    scroll-behavior: smooth;/*cuộn mượt mà*/
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: table;
    clear: both;/*xóa float*/
}
.col{
    float: left;/*nổi sang bên trái*/
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;/*tính cả padding và border vào trong width*/
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.3333333333%;
}
.btn{
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
    transition: all 0.3s ease;/*hiệu ứng chuyển đổi mượt mà*/
}

.pull-right{
    float: right;
}

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng
*/

/*main*/
#main{
    max-width: 1600px;/*chiều rộng tối đa của khung hình*/
    margin: 0 auto;/*căn giữa theo chiều ngang*/
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*bản chất là thanh header sẽ nổi lên trên, nhường chỗ cho thành phần tiếp theo(đè lên slider)*
    cách fix: margin-top: = với chiều cao của header/
    để cho thanh nav dính lên trên, trái,phải*/
    height: 46px;
    background-color: #000;
    z-index: 100;/*để cho header nổi lên trên các thành phần khác*/
    font-size: 15px;
}

#nav li{
    display: inline-block;/*thang hang*/
    position: relative;/*thuộc tính của menu cha*/
    
}

#nav > li > a{ /*css_selector, chọn những thẻ a là con trực tiếp của thẻ li, li là con trực tiếp của #nav: LÀ CON CẤP 1*/
    color:  white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px; /*cang theo chieu cao*/
    padding: 0px 24px ;
    display: block; /*kế thừa chiều ngang của thẻ chứa nó*, inline block là không kế thừa/
    /* nếu padding 0px 24px thì dùng */
    
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li{/* để toàn bộ vùng li có thể được hover */
    width: 100%;
}

#nav li:hover .subnav{/*di chuột vào thẻ li trong #nav(MORE), sẽ kích hoạt .subnav*/
    display: block;/*ghì đè display: none; trong #nav .subnav*/
}

#nav .subnav li:hover a,/*viết gộp css_selector*/
#nav > li:hover > a{ /* hover thẻ li vì, khi nhấn vào more -> hiện ra menu con -> di chuột xuống thì sẽ vẫn còn hover trên more*/
    /*css_selector để thẻ subnav không dính*/
    color: black;
    background-color: #ccc; 
    transition: all 0.3s ease;/*hiệu ứng chuyển đổi mượt mà*/    
}

#nav{
    display: inline-block; /*để cho thẻ nav ngắn lại, vừa theo chiều dài của content, để cho thẻ div: search-btn có thể nằm chung*/
}

#nav .subnav{
    display: none;
    position: absolute; /*tạo ra 1 menu là con của menu cha MORE*/
    top: 100%;/**/
    left: 0;/*top, left sẽ luôn đi kèm vs absolute. Phòng trường hợp khi set position nó kh ra vị trí đẹp*/
    max-width: 160px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)  ;/*h: chiều ngang, v: chiều dọc, spread: độ bao phủ*/
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;/*để cho btn có thể nằm chung với nav(kéo sang bên phải), vì thẻ div có tính chất kế thừa hết chiều ngang mà thẻ div có thể chiếm*/
    padding: 0 21px;/*căn chỉnh dựa trên dev_tool*/
}

#header .search-btn:hover{
    background-color: red;
    cursor: pointer;/*đổi chuột thành hình bàn tay khi di chuột vào*/
}

#header .Search-icon{
    color: #fff;
    font-size: 24px;
    line-height: 46px;/*căn giữa*/
    
}

#slider{
    position: relative;/*để cho text-content có thể nằm chồng lên slider*/
    margin-top: 46px;
    padding-top: 50%;/* đặt là %:" 50% chiều ngang của chính nó
    Kích thước chiều cao luôn là 50% của chiều ngang*/
    background: url(../img/home.jpg) top center /*background-position: top center;*/ / cover no-repeat; /*background-size: cover; background-repeat: no-repeat;*/
    /*background-size: cover; : ảnh sẽ tự động co giãn để phủ hết khung hình*/
    /*background-repeat: no-repeat; : ảnh sẽ không bị lặp lại*/
    
    
}
#slider .text-content{
    position: absolute;/*để cho text-content có thể nằm chồng lên slider*/
    color: white;
    bottom: 20px;/*cách đáy 47px*/
    text-align: center;
    /*3 cách căn giữa theo chiều ngang*/
    width: 100%; /*cho text-content rộng 100% khung hình slider*/  /* NEW: thêm dấu ; để tránh lỗi parse */
    /*căn giữa theo chiều ngang*/
    /*left: 0;
    right: 0;
    /*left: 50%;/*cách trái 50%*/
    /*transform: translateX(-50%);/*di chuyển ngược về bên trái 50%*/
}

#slider .text-heading {
    font-size: 24px;
    font-weight: normal;/*bình thường*/
    letter-spacing: 2px;/*khoảng cách giữa các chữ*/
}

#slider .text-description{
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 1px;
}

#content{
    max-width: 2000px;/*chiều rộng tối đa của khung hình*/
}

#content .content-section{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;/*cách trên 64px, cách dưới 112px*/
    border-bottom: none;/* w3 không có gạch chân mỗi section */
}

#content .section-heading{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0px;  /*cách dưới 24px*/
    letter-spacing: 4px;/*khoảng cách giữa các chữ*/
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    opacity: 0.6;/*độ mờ*/
    font-style: italic;/*in nghiêng*/
    margin: 0 0 24px;  
    letter-spacing: 1px;/*khoảng cách giữa các chữ*/
}
#content .about-text{
    margin: 0 auto;/*căn giữa theo chiều ngang*/
    line-height: 1.4;/*khoảng cách giữa các dòng*/
    text-align: justify !important;/*canh đều 2 bên*/
    width: 800px;/*chiếm 60% khung hình*/
    font-size: 15px;
}

#content .member-list{
    margin-top: 48px;/*cách trên 48px*/
    max-width: 800px;/*chiếm 60% khung hình*/
    margin: 0 auto;/*căn giữa theo chiều ngang*/
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0px;/*cách trên dưới 15px*/
    margin-top: 12px;/*cách trên 12px*/
    
}

#content .member-img{
    width: 155px;
    border-radius: 4px;/*bo tròn*/
    object-fit: cover;/*ảnh sẽ tự động co giãn để phủ hết khung hình*/
}

/*tour section*/
#content .tour-section{
    width: 100%;
    background-color: #000;
}
    
.tickets-list {
    list-style: none;/*bỏ dấu chấm*/
    background-color: #fff;
}

.tickets-list li{
    padding: 11px 16px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    
}

.tickets-list .sold-out{
    color: #fff;
    background: red;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 26px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: -4px;
}

.place-list{
    margin-top: 32px;
}

.place-img{
    width: 100%;
    display: block;/*loại bỏ khoảng trắng bên dưới ảnh*/
    border-radius: 4px;/*bo tròn*/
    object-fit: cover;/*ảnh sẽ tự động co giãn để phủ hết khung hình*/
    transition: all 0.3s ease;/*hiệu ứng chuyển đổi mượt mà*/
}

.place-img:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;/*hiệu ứng chuyển đổi mượt mà*/
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;/*chỉnh cỡ chữ - cho tất cả thẻ con ở dưới*/
}

.place-heading{
    font-weight: 550;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    position: fixed; /* Giữ modal ở vị trí cố định */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    z-index: 200; /* Đảm bảo modal hiển thị trên các phần tử khác */
    display: none;
}

.modal.open{
    display: flex; /* Hiển thị modal khi có class "open" */
}

.modal-container{
    margin: auto; /* Căn giữa modal */
    background-color: white;
    min-height: 200px;
    width: 900px;
    max-width:calc(100% - 32px); /*giảm 32px để tránh tràn ra ngoài */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative; /* Để nút đóng có thể được định vị tuyệt đối bên trong */
    animation: modalFadeIn 0.5s ease; /* Hiệu ứng xuất hiện mượt mà, lúc chậm lúc nhanh */
}

.modal-header{
    background-color: #009688;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;/*căn giữa theo chiều ngang*/
    align-items: center;/*căn giữa theo chiều dọc*/
    height: 130px;
}

.modal-heading-icon{
    margin-right: 10px;
}

.modal-close:hover{
    opacity: 1;
    transition: all 0.3s ease;/*hiệu ứng chuyển đổi mượt mà*/
}

.modal-close{
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.8;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    font-size: 15px;
    margin: 10px 0px;/*cách trên dưới 10px*/
    display: block;/*cho label thành khối*/
    line-height: 1.5;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;/*chiếm 100% khung hình*/
    padding: 10px 0px;
    margin-bottom: 25px;/*cách dưới 30px*/
    font-size: 15px;
}

.modal-btn{
    background-color: #009688;
    color: white;
    border: none;
    padding: 18px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;/*chiếm 100% khung hình*/   
    text-transform: uppercase;
}

.modal-btn:hover{
    background-color: #00796B;
    transition: all 0.3s ease;/*hiệu ứng chuyển đổi mượt mà*/
}

.modal-footer{
    text-align: right;
    font-size: 15px;
    margin-top: 16px;
}

.modal-footer a{
    text-decoration: none;

    color: #2196F3;
}

@keyframes modalFadeIn {
    from{
        transform: translateY(-150px);/*di chuyển lên trên 150px*/
        opacity: 0;
    }
    to{
        transform: translateY(0);/*về vị trí ban đầu*/
        opacity: 1;
    }
}

/*contact form*/
.contact-content{
    margin-top: 48px;/*cách trên 48px*/
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}
/*Cach 1*/
/* .contact-info p i{
    color: #009688;
    margin-right: 8px;
} */
/*Cach 2 css selector nang cao*/
.contact-info i[class^="ti-"]{ /*chọn tất cả các thẻ i có class bắt đầu bằng ti-*/
    width: 30px;
    display: inline-block;/*cho thẻ i thành khối*/
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    margin-bottom: 8px;/*cách dưới 16px*/
    box-sizing: border-box;/*tính cả padding và border vào trong width*/
}

.map-section img{
    width: 100%; /*chiếm 100% khung hình, luôn bằng 100% thẻ chứa nó*/
    display: block;/*loại bỏ khoảng trắng bên dưới ảnh*/
    object-fit: cover;/*ảnh sẽ tự động co giãn để phủ hết khung hình*/
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
    margin-bottom: 16px;
}

#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a:hover{
    opacity: 0.7;
    margin: 0 8px;/*cách trái phải 8px*/
    transition: all 0.3s ease;/*hiệu ứng chuyển đổi mượt mà*/   
}

#footer .copyright{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
    line-height: 1.4;
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}